.technology {
      width: 400px;
      height: 250px;
      border: 1px solid var(--bg-cards);
      background-color: var(--bg-cards);
      box-shadow: 1px 3px var(--bg-shadow);
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 2rem 0 0 2rem;
}

.technology .title {
      margin-left: 2rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: var(--text-color);
      font-weight: 700;
}

.technology .list {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-left: 1rem;
      flex-wrap: wrap;
}

.technology .list .list-stack {
      border: 1px solid var(--bg-techs);
      border-radius: 2rem;
      background-color: var(--bg-techs);
      font-weight: 700;
      padding: .5rem 1rem;
      margin: .5rem 1rem;
}

@media only screen and (min-width: 1000px) and (max-width: 1300px){
      .technology {
            width: 350px;
            height: 250px;
            border: 1px solid var(--bg-cards);
            background-color: var(--bg-cards);
            box-shadow: 1px 3px var(--bg-shadow);
            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 2rem 0 0 2rem;
      }

      .technology .list .list-stack {
            border: 1px solid var(--bg-techs);
            border-radius: 2rem;
            background-color: var(--bg-techs);
            font-weight: 700;
            padding: .5rem .5rem;
            margin: .5rem 1rem;
      }
}

@media only screen and (min-width: 700px) and (max-width: 999px) {

      .technology {
            width: 90%;
            height: 200px;
      }
}

@media only screen and (min-width: 375px) and (max-width: 699px) {
      .technology {
            width: 90%;
            margin-left: .5rem;
            height: 35vh;
      }
}
